.level-number, .level-details {
    padding: 10px 15px;
}

.level {
    border: 1px solid #151515;
}

.level-number {
    background-color: #333333;
}

.level-details {
    display: none;
    background-color: #464646;
}

